<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">Edit Restaurant</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/restaurants/<%=restaurant._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <!-- You can have restaurant[property] as the name. If everything is stored this way in the POST, the body information will be stored in an object called restaurant. Interesting because this is the format for an array. But this is just convention in HTML. This is useful when you are transferring multiple objects in the body. -->
                <input class="form-control" type="text" id="title" name="restaurant[title]" value="<%=restaurant.title%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="restaurant[location]" value="<%=restaurant.location%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Restaurant Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="price" id="price" name="restaurant[price]" placeholder="0.00" value="<%=restaurant.price%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="location" name="restaurant[description]" required><%=restaurant.location%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <div class="mb-2">
                    <label for="image">Upload Images</label>
                </div>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="image" name="image" multiple>
                </div>
            </div>
            <div class="mb-3">
                <% restaurant.images.forEach(function(img, i) { %>
                    <img src="<%= img.thumbnail %>" class='img-thumbnail' alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                    </div>
                    <label for="image-<%=i%>">Delete</label>
                <% }) %>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Restaurant</button>
            </div>
        </form>
        <a href="/restaurants/<%=restaurant._id%>">Back to restaurant</a>
    </div>
</div>

