<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="styles/index.css">

<h1 class="justify-content-center mb-3">Restaurants</h1>
<div id="cluster-map" class="mb-3"></div>
<h1 class="mb-2">Our picks:</h1>
<% for (let restaurant of restaurants) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img crossorigin="anonymous" src="<%=restaurant.images[0].url%>" alt="" class="img-fluid">
            </div>
            <div class="col-md-8">
                <div class="card-body mt-4">
                    <h5 class="card-title"><%=restaurant.title%></h5>
                    <p class="card-text description"><%=restaurant.description%></p>
                    <p class="card-text">
                        <small class="text-muted"><%=restaurant.location%></small>
                    </p>
                    <a class="btn btn-primary" href="/restaurants/<%=restaurant.id%>">View <%=restaurant.title%></a>
                </div>
            </div>
        </div>
    </div>
<%}%>

<a href="/restaurants/new" class="">Add new restaurant</a>

<script> 
    const mbxToken = '<%-process.env.MAPBOX_TOKEN%>'; 
    const restaurantsJSON = {features: <%-JSON.stringify(restaurants)%>}
</script>

<script src="/scripts/clusterMap.js"></script>
